.slick-dots {
    display: flex;
    justify-content: center;
}

.slick-dots button {
    margin: 0 8px;
    width: 14px;
    height: 14px;
    font-size: 0;
    border: none;
    border-radius: 50%;
    background-color: $dots-color;
    opacity: 0.5;
}

.slick-dots .slick-active button {
    background-color: $white;
    opacity: 1;
}

.slick-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: $blue-light;
    &--prev {
        top: -40px;
        right: 38px;
    }
    &--next {
        top: -40px;
        right: 0;
    }
}
